* {
    box-sizing: border-box;
}

:root {
  --bg: #0f1117;
  --surface: #1a1d27;
  --surface2: #22263a;
  --border: #2e3248;
  --accent: #6c63ff;
  --accent2: #ff6584;
  --accent3: #43e97b;
  --text: #e8eaf6;
  --muted: #8b92b8;
  --font: "DM Sans", sans-serif;
  --mono: "DM Mono", monospace;
    --color-beige-50: #fdfdea;
  --color-beige-100: #fcfcd3;
  --color-beige-200: #fafabd;
  --color-beige-300: #f4f4ba;
  --color-beige-400: #f1f1bb;
  --color-beige-500: #ebebb9;
  --color-beige-600: #b9b98e;
  --color-beige-700: #868664;
  --color-beige-800: #585841;
  --color-beige-900: #2d2d1f;
  --color-beige-950: #1a1a10;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 32px;
  --space-5: 64px;
  --font-size-sm: 12px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
}


/* composant : header

Utilisation : 
<body>
</body>

elements:

* body : Englobe tout le html.


variantes :
N/A

*/

body {
display: flex;
width: 1440px;
flex-direction: column;
align-items: center;
background: #FFF;
}

/* composant : header

Utilisation : 
<div class="header__brand">
    <img class="header__brandimage" src="" alt="">
    <div class="header__brandname">Thé Bulles</div>
</div>

elements:

* header : Englobe le header.
* header__brand : Englobe header__brandimage et * header__brandname. S'occupe des les placer dans l'espace.
* header_brandimage : Logo de la compagnie à coté du header__brand.

variantes :
N/A

*/

header {
/*Début style du composant header et de ses éléments*/
display: flex;
height: 80px;
padding: 10px 60px;
justify-content: space-between;
align-items: center;
align-self: stretch;
background: var(----color-bg-dark, #264653);
}

.header__brand {
display: flex;
height: 60px;
justify-content: center;
align-items: center;
gap: 9px;
border-radius: 4px;
}

.header__brandimage {
width: 46px;
height: 46px;
}

.header__brandname {
display: flex;
width: 214px;
height: 28px;
flex-direction: column;
justify-content: center;
color: var(----color-accent, #F4A261);
font-family: Ranchers;
font-size: 40px;
font-style: normal;
font-weight: 400; 
}

/* composant : nav - Barre de navigation principal dans le header

Utilisation : 
<nav class="header__nav">
    <a href="#" class="header__navlink">Accueil</a>
    <a href="#" class="header__navlink">À propos</a>
    <a href="#" class="header__navlink">Nos services</a>
    <a href="#" class="header__navlink">Activités</a>
    <a href="#" class="header__navlink">Témoignages</a>
    <a href="#" class="header__navlink">Nous joindre</a>
</nav>

elements:

* header__nav : S'occupe de totu les éléments nav dans le header.
* header__navlink : contient les liens de navigation principal de la page.


variantes :
N/A

*/

.header__nav {
/* Début des styles du composant nav et de ses éléments*/
display: flex;
padding: 2px 24px;
justify-content: center;
align-items: center;
gap: 24px;
flex: 1 0 0;
}

.header__navlink {
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;

}





/* Tout les boutons */
.button {
  
}

.header__button {
display: flex;
padding: 10px 16px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 4px;
background: var(----color-accent, #F4A261);
}

.header__buttontext {
align-self: stretch;
color: var(----color-text, #1A2E1A);
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;

}









/* composant : hero - bannière de présentation du site en dessous du header

    <section class="hero">
        <container class="hero__container">
            <div class="hero__containertitle">Chez Thé Bulles</div>
            <div class="hero__containerdescription">Découvrez notre sélection de thés maison exquis.</div>
            <div class="hero__button">
                <button class="button__heroknowmore">
                    <a href="#" class="button__heroknowmoretext">En savoir plus</a>
                </button>
                <button class="button__heroordernow">
                    <a href="#" class="button__heroordernowtext">Commander maintenant</a>
                </button>
            </div>   
        </container>
        <container class="hero_imagecontainer">
            <img src="" alt="" class="hero__image">
        </container>
        <vecteur class="hero__vecteur">
            <svg xmlns="http://www.w3.org/2000/svg" width="1440" height="1" viewBox="0 0 1440 1" fill="none">
                <path d="M0 0.5H1440" stroke="black" stroke-opacity="0.1"/>
            </svg>
        </vecteur>
    </section>

elements:

* section.hero : Englobe toute la partie hero du css.
* hero__container : Englobe le hero__containertitle et le hero__containerdescription.
* hero__containertitle : Nom de la compagnie sous format de titre dans le hero.
* hero__containerdescription : Contient la phrase choc de la compagnie.
* hero__button : Les deux boutons en dessous du hero__containerdescription qui sont nommés button__heroknowmore et button__heroorder.
* hero_imagecontainer : Contient l'image par dessus le hero.
* hero__image : S'occupe de la taille de l'image dans hero_imagecontainer.
* hero__vecteur : S'occupe de dl'espacement entre toute les éléments dans hero.



variantes :
* button__heroknowmore : Bouton utilisé pour en savoir plus sur le produit.
* button__heroorder : Bouton utilisé pour acheter le produit.
* button__heroknowmoretext : Text dans le button__heroknowmore.
* button__heroordertext : Texte dans le button__heroorder

*/
/* Hero banner*/
section.hero {
display: flex;
height: 729px;
padding: 60px 170px;
justify-content: center;
align-items: center;
gap: 60px;
align-self: stretch;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.hero__container {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;
}

.hero__containertitle {
align-self: stretch; 
color: var(----color-bg-dark, #264653);
font-family: Ranchers;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: 48px; /* 66.667% */
color: var(----color-primary, #2A9D8F);
font-family: Ranchers;
font-size: 72px;
font-style: normal;
font-weight: 400;

}

.hero__containerdescription {
align-self: stretch;
color: var(----color-bg-dark, #264653);
font-family: Poppins;
font-size: 19px;
font-style: normal;
font-weight: 900;

}

.hero__button {
display: flex;
align-items: flex-start;
gap: 12px
}

.button__heroknowmore {
display: flex;
width: 240px;
padding: 12px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px;
background: var(----color-secondary, #E9C46A);
}

.button__heroknowmoretext {
color: var(----color-bg-dark, #264653);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;

}

.button__heroorder {
display: flex;
width: 240px;
padding: 12px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px;
background: var(----color-primary, #2A9D8F);
}

.button__heroordertext {
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;

}

.hero_imagecontainer {
display: flex;
height: 400px;
align-items: flex-start;
flex: 1 0 0;
border-radius: 31px;
border: 5px solid var(----color-accent, #F4A261);
}

.hero__image {
flex: 1 0 0;
align-self: stretch;
border: 1px solid var(----color-accent, #F4A261);
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.hero__vecteur {
width: 1440px;
height: 0;
position: absolute;
bottom: 0;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.10);

}






/* composant : contents - tout ce qui est à propos la compagnie

<contents class="contents">
        <container class="contents__container">
            <p class="contents__containertitle">À propos</p>
            <p class="contents__containerdescription">Nous sommes passionnés par le thé et souhaitons partager notre amour avec vous!</p>
        </container>

        <list class="contents__list">
            <row01 class="contents__listrow">
                <article01 class="contents__listrowarticle">
                    <imgcontainer class="contents__listrowarticleimgcontainer">
                        <image class="contents__listrowarticleimg">
                            <logo class="contents__listrowarticleimglogo">
                                <svg xmlns="http://www.w3.org/2000/svg" width="81" height="81" viewBox="0 0 81 81" fill="none">
                                    <g clip-path="url(#clip0_12_71)">
                                        <path d="M30.375 13.5V18.1575C27.5737 17.0438 24.57 16.47 21.5662 16.47C15.525 16.47 9.48374 18.765 4.85999 23.3887L16.0987 34.6275H19.845V38.3737C22.7475 41.2762 26.5275 42.795 30.3412 42.9637V50.625H20.25V60.75C20.25 64.4625 23.2875 67.5 27 67.5H60.75C66.3525 67.5 70.875 62.9775 70.875 57.375V13.5H30.375ZM26.6287 35.1337V27.8775H18.9337L15.4237 24.3675C17.3475 23.625 19.44 23.22 21.5662 23.22C26.0887 23.22 30.3075 24.975 33.5137 28.1475L38.2725 32.9062L37.5975 33.5812C35.8762 35.3025 33.5812 36.2812 31.1175 36.2812C29.5312 36.2812 27.9787 35.8762 26.6287 35.1337ZM64.125 57.375C64.125 59.2313 62.6062 60.75 60.75 60.75C58.8937 60.75 57.375 59.2313 57.375 57.375V50.625H37.125V41.8837C39.0487 41.1075 40.8375 39.96 42.39 38.4075L43.065 37.7325L52.6162 47.25H57.375V42.4913L37.125 22.3425V20.25H64.125V57.375Z" fill="#F4A261"/>
                                    </g>
                                <defs>
                                    <clipPath id="clip0_12_71">
                                    <rect width="81" height="81" fill="white"/>
                                    </clipPath>
                                </defs>
                                </svg>
                            </logo>
                        </image>
                    </imgcontainer>

                    <frame427 class="contents__listrowarticleframe">
                        <title class="contents__listrowarticleframetitleframe">Notre histoire</title>
                        <soustitre class="contents__listrowarticleframesubtitleframe">Chez Thé Bulle, chaque tasse de thé est préparée avec soin.</soustitre>

                        <user class="contents__listrowarticleframeuser">
                            <icon class="contents__listrowarticleframeusericon">
                                <avatar class="contents__listrowarticleframeusericonavatar"></avatar>
                                <userframe class="contents__listrowarticleframeusericonframe">
                                    <title class="contents__listrowarticleframeusericonframetitle">L'équipe Thé Bulle</title>
                                </userframe>
                            </icon>
                        </user>
                    </frame427>

                </article01>

                <article02 class="contents__listrowarticle">
                    <imgcontainer class="contents__listrowarticleimgcontainer">
                        <image class="contents__listrowarticleimg--article02">
                            <logo class="contents__listrowarticleimglogo--article02">
                                <svg xmlns="http://www.w3.org/2000/svg" width="67" height="67" viewBox="0 0 67 67" fill="none">
                                    <g clip-path="url(#clip0_12_63)">
                                        <path d="M55.6111 8.375H25.0555V15.0417L30.0833 19.0694C30.4166 19.3194 30.6111 19.7361 30.6111 20.1528V31.9861C30.6111 32.7639 30 33.375 29.2222 33.375H18.1111C17.3333 33.375 16.7222 32.7639 16.7222 31.9861V20.1528C16.7222 19.7361 16.9166 19.3194 17.25 19.0694L22.2777 15.0417V8.375H11.1666V36.1528C11.1666 42.2917 16.1388 47.2639 22.2777 47.2639H38.9444C45.0833 47.2639 50.0555 42.2917 50.0555 36.1528V27.8194H55.6111C58.6944 27.8194 61.1666 25.3194 61.1666 22.2639V13.9306C61.1666 10.8472 58.6944 8.375 55.6111 8.375ZM55.6111 22.2639H50.0555V13.9306H55.6111V22.2639Z" fill="#F4A261"/>
                                        <path d="M55.6111 52.8195H11.1666V58.375H55.6111V52.8195Z" fill="#F4A261"/>
                                    </g>
                                <defs>
                                    <clipPath id="clip0_12_63">
                                    <rect width="67" height="67" fill="white"/>
                                    </clipPath>
                                </defs>
                                </svg>
                            </logo>
                        </image>
                    </imgcontainer>

                    <frame427 class="contents__listrowarticleframe">
                        <title class="contents__listrowarticleframetitleframe">Nos thés tant appéciés</title>
                        <soustitre class="contents__listrowarticleframesubtitleframe">Recettes est concoctées avec tout notre coeur.</soustitre>
                        <userframe class="contents__listrowarticleframeusericonframe">
                            <title class="contents__listrowarticleframeusericonframetitle">L'équipe Thé Bulle</title>
                        </userframe>
                    </frame427>
                </article>
            </row01>

            <row02 class="contents__listrow">
                <article03 class="contents__listrowarticle">
                    <imgcontainer class="contents__listrowarticleimgcontainer">
                        <image class="contents__listrowarticleimg--article03">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" fill="none">
                            <rect width="100" height="100" rx="6" fill="#2A9D8F"/>
                            <path d="M49.875 32.5C54.1552 32.5 57.625 29.0302 57.625 24.75C57.625 20.4698 54.1552 17 49.875 17C45.5948 17 42.125 20.4698 42.125 24.75C42.125 29.0302 45.5948 32.5 49.875 32.5Z" fill="#F4A261"/>
                            <path d="M84.75 63.5V55.75C76.07 55.75 68.63 52.03 63.05 45.365L57.8575 39.165C56.385 37.3825 54.215 36.375 51.9287 36.375H47.86C45.5737 36.375 43.4037 37.3825 41.9312 39.165L36.7387 45.365C31.12 52.03 23.68 55.75 15 55.75V63.5C25.7338 63.5 35.1112 58.9662 42.125 50.9062V59.625L27.09 65.6312C24.4937 66.6775 22.75 69.235 22.75 72.0637C22.75 75.9 25.85 79 29.6862 79H38.25V77.0625C38.25 71.715 42.59 67.375 47.9375 67.375H59.5625C60.6475 67.375 61.5 68.2275 61.5 69.3125C61.5 70.3975 60.6475 71.25 59.5625 71.25H47.9375C44.7213 71.25 42.125 73.8462 42.125 77.0625V79H70.0637C73.9 79 77 75.9 77 72.0637C77 69.235 75.2562 66.6775 72.66 65.6312L57.625 59.625V50.9062C64.6387 58.9662 74.0163 63.5 84.75 63.5Z" fill="#F4A261"/>
                            </svg>
                        </image>
                    </imgcontainer>

                    <frame427 class="contents__listrowarticleframe">
                        <title class="contents__listrowarticleframetitleframe">Citation importante</title>
                        <soustitre class="contents__listrowarticleframesubtitleframe">"Le thé a une magie qui unit l'esprit et le cœur."</soustitre>
                    </frame427>
                </article03>
            </row02>
        </list>
    </contents>

elements:

*.contents : formate tout le les éléments dans contents
* button__heroknowmore : Bouton utilisé pour en savoir plus sur le produit.
*.contents__container : Contient le titre et la description du content.
*.contents__containertitle : Est le titre du content.
*.contents__containerdescription : Description en dessous du titre du content.
*.contents__list : Contient les trois cartes qui ont les informations sur la compagnie.
*.contents__listrow : Met en place les trois cartes qui sont dans l'espace de contents__list.
*.contents__listrowarticle : Contient la premiere carte sur les information général de la compagnie
*.contents__listrowarticleimgcontainer : container pour l'image dans le container.
*.contents__listrowarticleimg : Contienr l'image du __listrowarticle
*.contents__listrowarticleimglogo : 
*.contents__listrowarticleframe : 
*.contents__listrowarticleframetitleframe : 
*.contents__listrowarticleframesubtitleframe : 
*.contents__listrowarticleframeuser : 
*.contents__listrowarticleframeusericon : 
*.contents__listrowarticleframeusericonavatar : 
*.contents__listrowarticleframeusericonframe : 
.contents__listrowarticleframeusericonframetitle : 



variantes :
*.contents__listrowarticleimg--article02 : met en place la deuxième carte dans le contents__listrow
*.contents__listrowarticleimg--article03 : met en place la troisième carte dans le contents__listrow
*.contents__listrowarticleimglogo--article02 : 



*/
/* Début container */
.contents {
display: flex;
padding: 60px 170px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 60px;
align-self: stretch;
background: #264653;
}

.contents__container {
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
align-self: stretch;
}

.contents__containertitle {
width: 520px;
color: #FFF;
text-align: center;
font-family: Ranchers;
font-size: 40px;
font-style: normal;
font-weight: 400;

}

.contents__containerdescription {
width: 520px;
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;

}

.contents__list {
display: flex;
padding: 20px 0;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;
align-self: stretch;
}

.contents__listrow {
display: flex;
align-items: flex-start;
gap: 40px;
align-self: stretch;
}

.contents__listrowarticle {
display: flex;
padding: 16px;
justify-content: center;
align-items: flex-start;
gap: 16px;
flex: 1 0 0;
border-radius: 9px;
border: 1px solid rgba(0, 0, 0, 0.10);
background: #EBEFF0;
}

.contents__listrowarticleimgcontainer {
display: flex;
width: 100px;
height: 100px;
align-items: flex-start;

}

.contents__listrowarticleimg {
display: flex;
padding: 12px 10px 7px 9px;
justify-content: center;
align-items: center;
flex: 1 0 0;
align-self: stretch;
border-radius: 6px;
background: var(----color-primary, #2A9D8F);

}

.contents__listrowarticleimg--article02 {
display: flex;
width: 100px;
height: 100px;
padding: 16px 17px 17px 16px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 6px;
background: var(----color-primary, #2A9D8F);

}

.contents__listrowarticleimg--article03 {
flex: 1 0 0;
align-self: stretch;
fill: var(----color-primary, #2A9D8F);
}

.contents__listrowarticleimglogo {
width: 81px;
height: 81px;
}

.contents__listrowarticleimglogo--article02 {
width: 67px;
height: 67px;
flex-shrink: 0;
}

.contents__listrowarticleframe {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
flex: 1 0 0;
}

.contents__listrowarticleframetitleframe {
align-self: stretch;
color: #264653;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;

}

.contents__listrowarticleframesubtitleframe {
align-self: stretch;
color: #264653;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;

}

.contents__listrowarticleframeuser {
display: flex;
padding: 4px 0;
align-items: center;
gap: 8px;
align-self: stretch;
}

.contents__listrowarticleframeusericon {
display: flex;
align-items: center;
gap: 8px;
flex: 1 0 0;
}

.contents__listrowarticleframeusericonavatar {
width: 20px;
height: 20px;
border-radius: 20px;
background: rgba(0, 0, 0, 0.10);
}

.contents__listrowarticleframeusericonframe {
display: flex;
flex-direction: column;
align-items: flex-start;
flex: 1 0 0;
}

.contents__listrowarticleframeusericonframetitle {
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
align-self: stretch;
overflow: hidden;
color: #264653;
text-overflow: ellipsis;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;

}





/* Début products */
.products {
display: flex;
padding: 60px 170px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 60px;
align-self: stretch;
background: #FFF;
}

.products__container {
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
align-self: stretch;
}

.products__containertitle {
width: 520px;
color: var(----color-bg-dark, #264653);
text-align: center;
font-family: Ranchers;
font-size: 40px;
font-style: normal;
font-weight: 400;

}

.products__list {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;
align-self: stretch;
}

.products__listrow {
display: flex;
height: 508px;
align-items: flex-start;
gap: 40px;
align-self: stretch;
}

.products__listrowcard {
display: flex;
width: 320px;
flex-direction: column;
align-items: center;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.10);
}

.products__listrowcard--featured {
display: flex;
width: 398px;
flex-direction: column;
align-items: center;
border-radius: 6px;
border: 2px solid var(----color-accent, #F4A261);
}

.products__listrowcard--02 {
display: flex;
flex-direction: column;
align-items: center;
flex: 1 0 0;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.10);
}

.products__listrowcardcontainer {
display: flex;
height: 340px;
align-items: flex-start;
align-self: stretch;
}

.products__listrowcardcontainerimage {
flex: 1 0 0;
align-self: stretch;
background: #EBEFF0;
}

.products__listrowcardcontainerimagetitle {
display: flex;
width: 288px;
height: 16px;
flex-direction: column;
justify-content: center;
color: var(----color-bg-dark, #264653);
text-align: center;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;

}

.products__listrowcardcontainerimagetitle--featured {
display: flex;
width: 366px;
height: 16px;
flex-direction: column;
justify-content: center;
color: var(----color-bg-dark, #264653);
text-align: center;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;

}

.products__listrowcardcontainerimagetitle--02 {
display: flex;
width: 270px;
height: 16px;
flex-direction: column;
justify-content: center;
color: var(----color-bg-dark, #264653);
text-align: center;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;

}

.products__listrowcardcontainerimagebadge {
display: inline-flex;
padding: 4px 8px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 6px 0;
background: var(----color-primary, #2A9D8F);
}

.products__listrowcardcontainerimagebadge--featured {
display: inline-flex;
padding: 4px 8px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 6px 0;
background: var(----color-accent, #F4A261);
}

.products__listrowcardcontainerimagebadgetext {
color: #FFF;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;

}

.products__listrowcardtextcontent {
display: flex;
padding: 12px 12px 24px 12px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
align-self: stretch;
}

.products__listrowcardtextcontent--featured {
display: flex;
padding: 12px 12px 32px 12px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
align-self: stretch;

}

.products__listrowcardtextcontenttitle {
align-self: stretch;
color: var(----color-bg-dark, #264653);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;

}

.products__listrowcardtextcontentsubtitle {
align-self: stretch;
color: var(----color-bg-dark, #264653);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;

}

.products__listrowcardtextcontentsubtitle--featured {
height: 65px;
align-self: stretch;
overflow: hidden;
color: var(----color-bg-dark, #264653);
text-overflow: ellipsis;
white-space: nowrap;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;

}

.vector200 {
width: 1440px;
height: 0;
position: absolute;
bottom: 0;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.10);
}






/* Début de listopentime */
.listopentime {
display: flex;
padding: 60px 170px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 60px;
align-self: stretch;
background: #EBEFF0;
}

.listopentime__container {
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
align-self: stretch;
}

.listopentime__containertitle {
width: 520px;
color: var(----color-bg-dark, #264653);
text-align: center;
font-family: Ranchers;
font-size: 40px;
font-style: normal;
font-weight: 400;

}

.listopentime__containersubtitle {
width: 520px;
color: var(----color-bg-dark, #264653);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;

}

.listopentime__list {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;
align-self: stretch;
}

.listopentime__listrow {
display: flex;
align-items: flex-start;
gap: 40px;
align-self: stretch;
}

.listopentime__listrowitem {
display: flex;
padding: 12px 0;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 7px;
flex: 1 0 0;
}

.listopentime__listrowitemframemain {
display: flex;
width: 100px;
height: 100px;
justify-content: center;
align-items: center;
aspect-ratio: 1/1;
border-radius: 50px;
background: rgba(0, 0, 0, 0.05);
}

.listopentime__listrowitemframemainicon {
display: flex;
width: 100px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
align-self: stretch;
aspect-ratio: 1/1;
overflow: hidden;
color: var(----color-bg-dark, #264653);
text-align: center;
text-overflow: ellipsis;
white-space: nowrap;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 400;

}

.listopentime__listrowitemframesub {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}

.listopentime__listrowitemframesubtitle {
align-self: stretch;
color: var(----color-bg-dark, #264653);
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;

}

.listopentime__listrowitemsubtitle {
align-self: stretch;
color: var(----color-bg-dark, #264653);
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;

}

.listopentime__vector {
width: 1440px;
height: 0;
position: absolute;
bottom: 0;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.10);
}






/* Début de reviews */
.reviews {
display: flex;
padding: 60px 170px;
justify-content: center;
align-items: center;
gap: 60px;
align-self: stretch;
background: #FFF;
}

.reviews__container {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;
}

.reviews__containertitle {
align-self: stretch;
color: var(----color-bg-dark, #264653);
font-family: Ranchers;
font-size: 40px;
font-style: normal;
font-weight: 400;

}

.reviews__list {
display: flex;
padding: 20px 0;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;
flex: 1 0 0;
}

.reviews__listrow {
display: flex;
align-items: flex-start;
gap: 40px;
align-self: stretch;
}

.reviews__listrowcard {
display: flex;
padding: 16px;
flex-direction: column;
align-items: center;
gap: 16px;
flex: 1 0 0;
border-radius: 6px;
background: rgba(0, 0, 0, 0.05);
}

.reviews__listrowcarduser {
display: flex;
align-items: center;
gap: 4px;
align-self: stretch;
}

.reviews__listrowcardusercontainer {
display: flex;
align-items: center;
gap: 8px;
flex: 1 0 0;
}

.reviews__listrowcardusercontaineravatar {
display: flex;
width: 32px;
height: 32px;
padding: 4px;
justify-content: center;
align-items: center;
border-radius: 32px;
background: rgba(0, 0, 0, 0.10);
}

.reviews__listrowcardusercontainerframe {
display: flex;
flex-direction: column;
align-items: flex-start;
flex: 1 0 0;
}

.reviews__listrowcardusercontainerframetitle {
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
align-self: stretch;
overflow: hidden;
color: var(----color-bg-dark, #264653);
text-overflow: ellipsis;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;

}

.reviews__listrowcardtitle {
height: 72px;
align-self: stretch;
overflow: hidden;
color: var(----color-bg-dark, #264653);
text-overflow: ellipsis;
white-space: nowrap;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;

}

.reviews__vector {
width: 1440px;
height: 0;
position: absolute;
bottom: 0;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.10);
}







/* Début join*/
.join {
display: flex;
padding: 60px 170px;
justify-content: center;
align-items: center;
gap: 40px;
align-self: stretch;
}

.join_avatar {
display: flex;
width: 100px;
height: 100px;
padding: 13px 14px 14px 13px;
justify-content: center;
align-items: center;
border-radius: 50px;
background: var(----color-accent, #F4A261);
}

.join_avatarspec {
width: 73px;
height: 73px;
flex-shrink: 0;
}

.join__container {
display: flex;
flex-direction: column;
align-items: center;
gap: 12px;
flex: 1 0 0;
}

.join__containertitle {
align-self: stretch;
color: var(----color-accent, #F4A261);
font-family: Ranchers;
font-size: 24px;
font-style: normal;
font-weight: 400;

}

.join__containerdescription {
align-self: stretch;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;

}

.join__containerbutton {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
}

.join__containerbuttonprimary {
display: flex;
padding: 12px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px;
background: var(----color-accent, #F4A261);
}

.oin__containerbuttonprimarytitle {
color: var(----color-bg-dark, #264653);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;

}

.join__vector {
width: 1440px;
height: 0;
position: absolute;
bottom: 0;
stroke-width: 1px;
stroke: rgba(255, 255, 255, 0.90);
}




/* Début workerllist*/
.workerlist {
display: flex;
padding: 60px 170px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 60px;
align-self: stretch;
background: var(----color-bg-dark, #264653);
}

.workerlist_list {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;
align-self: stretch;
}

.workerlist_listrow {
display: flex;
align-items: flex-start;
gap: 40px;
align-self: stretch;
}

.workerlist_listrowworker {
display: flex;
padding: 12px 0;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
flex: 1 0 0;
}

.workerlist_listrowworkercontainer {
display: flex;
width: 100px;
height: 100px;
justify-content: center;
align-items: center;
aspect-ratio: 1/1;
border-radius: 50px;
background: var(----color-secondary, #E9C46A);
}

.workerlist_listrowworkercontaineruser {
width: 118px;
height: 118px;
flex-shrink: 0;
}

.workerlist_listrowworkercontaineruservector {
width: 101.724px;
height: 101.724px;
fill: var(----color-accent, #F4A261);
}

.workerlist_listrowworkerframe {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}

.workerlist_listrowworkerframetitle {
align-self: stretch;
color: var(----color-secondary, #E9C46A);
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;


}

.workerlist_listrowworkerframesubtitle {
align-self: stretch;
color: rgba(255, 255, 255, 0.50);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;

}

.workerlist__vector {
width: 1440px;
height: 0;
position: absolute;
bottom: 0;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.10);
}







/* Début data*/
.data {
display: flex;
padding: 60px 170px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 60px;
align-self: stretch;
}

.data__container {
display: flex;
justify-content: center;
align-items: center;
gap: 60px;
align-self: stretch;
}

.data__containercontainer {
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
flex: 1 0 0;
}

.data__containercontainertitle {
width: 520px;
color: var(----color-bg-dark, #264653);
text-align: center;
font-family: Ranchers;
font-size: 40px;
font-style: normal;
font-weight: 400;

}

.data__containercontainerdescription {
width: 520px;
color: var(----color-bg-dark, #264653);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;

}

.data__list {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;
align-self: stretch;
}

.data__listrow {
display: flex;
align-items: flex-start;
gap: 20px;
align-self: stretch;
}

.data__listrowmetric {
display: flex;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
flex: 1 0 0;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.10);
}

.data__listrowmetrictitle {
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
align-self: stretch;
overflow: hidden;
color: rgba(0, 0, 0, 0.50);
text-overflow: ellipsis;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;

}

.data__listrowmetricdata {
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
color: var(----color-bg-dark, #264653);
text-overflow: ellipsis;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 500;

}

.data__listrowmetricchange {
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden;
color: var(----color-bg-dark, #264653);
text-overflow: ellipsis;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;

}

.data_vector {
width: 1440px;
height: 0;
position: absolute;
bottom: 0;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.10);
}









/* Début de contact*/
.contact {
display: flex;
padding: 60px 170px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 60px;
align-self: stretch;
background: #EBEFF0;
}

.contact_container {
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
align-self: stretch;

}

.contact_containertitle {
width: 520px;
color: var(----color-accent, #F4A261);
text-align: center;
font-family: Ranchers;
font-size: 40px;
font-style: normal;
font-weight: 400;

}

.contact_map {
display: flex;
align-items: center;
gap: 214px;
}

.contact_mapaddress {
display: flex;
width: 218px;
flex-direction: column;
align-items: flex-start;
gap: 11px;
}

.contact_mapaddresstitle {
align-self: stretch;
color: var(----color-accent, #F4A261);
font-family: Ranchers;
font-size: 24px;
font-style: normal;
font-weight: 400;

}

.contact_mapaddressstreet {
align-self: stretch;
color: var(----color-bg-dark, #264653);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.contact_mapimage {
width: 404px;
height: 293px;
}

.contact_mapimageimage {
width: 404px;
height: 293px;
aspect-ratio: 91/66;
border-radius: 8px;
border: 1px solid var(----color-bg-dark, #264653);
background: url(<path-to-image>) lightgray 0px 0px / 100% 99.947% no-repeat;

}

.contact_mapimageplace {
width: 50px;
height: 50px;
}

.contact_mapimageplacevector1 {
width: 50px;
height: 50px;
}

.contact_mapimageplacevector2 {
width: 29.167px;
height: 41.667px;
fill: var(----color-accent, #F4A261);

}

.contact_vector {
width: 1440px;
height: 0;
stroke-width: 1px;
stroke: var(----color-bg-dark, #264653);
}

.contact__list {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;
align-self: stretch;
}

.contact__listcontact {
color: var(----color-accent, #F4A261);
text-align: center;
font-family: Ranchers;
font-size: 24px;
font-style: normal;
font-weight: 400;


}

.contact__listrow {
display: flex;
align-items: flex-start;
gap: 80px;
align-self: stretch;
}

.contact__listrowinput {
display: flex;
width: 313.333px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 4px;
}

.contact__listrowinputtitle {
align-self: stretch;
color: var(----color-bg-dark, #264653);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;

}

.contact__listrowinputinput {
display: flex;
padding: 8px 12px;
align-items: center;
gap: 4px;
align-self: stretch;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.10);
background: #FFF;
}

.contact__listrowinputinput ::placeholder {
height: 20px;
flex: 1 0 0;
overflow: hidden;
color: rgba(0, 0, 0, 0.50);
text-overflow: ellipsis;
white-space: nowrap;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;

}

.list__button {
display: flex;
align-items: flex-start;
gap: 12px;
}

.list__buttonactivation {
display: flex;
width: 240px;
padding: 12px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px;
background: var(----color-accent, #F4A261);
}

.list__buttonactivation--secondary {
display: flex;
width: 240px;
padding: 12px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px;
border: 1px solid var(----color-bg-dark, #264653);
}

.list__buttonactivationtitle {
color: var(----color-bg-dark, #264653);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;

}

.footer {
display: flex;
padding: 60px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 60px;
align-self: stretch;
background: #264653;
}

.footer__container {
display: flex;
width: 1051px;
height: 100px;
justify-content: space-between;
align-items: center;
}

.footer__containersection {
display: flex;
height: 56px;
flex-direction: column;
justify-content: center;
align-items: center;
flex: 1 0 0;
}

.ooter__containersectiontitle {
display: flex;
flex-direction: column;
justify-content: center;
flex: 1 0 0;
align-self: stretch;
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;

}

.footer__map {
display: flex;
flex-direction: column;
align-items: center;
gap: 22px;
align-self: stretch;
}

.footer_maptitle {
align-self: stretch;
color: #FFF;
text-align: center;
font-family: Ranchers;
font-size: 24px;
font-style: normal;
font-weight: 400;

}

.footer__mapcontainer {
height: 520.308px;
align-self: stretch;
}

.footer__mapcontainerimage {
width: 1320px;
height: 520.308px;
aspect-ratio: 137/54;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.footer__mapcontainerplace {
width: 55px;
height: 55px;

}

.footer__mapcontainerplace--vector2 {
width: 32.083px;
height: 45.833px;
fill: var(----color-accent, #F4A261);
}

